body{
  background-color: #CCF3EE;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

h1{
  color: ;
  margin:50,auto,0,auto;
  font-size: 65px;
  font-family: 'Sacramento', cursive;

}

h2{
  color:#66BFBF;
font-family: 'Montserrat', sans-serif;
}

h3{
color: 11999E;
font-size: 2rem;  /*  40/16   */
font-family: 'Montserrat', sans-serif;

}


/*div{
background-color: #CCF3EE;
}*/


.top-container{
  background-color: #CCF3EE;
  position:relative;
  padding-top: 100px;

}


.middle-container{

}



.bottom-container{

}


.top-cloud{
  position: absolute;
  right: 350px;
  top: 50px;

}


.bottom-cloud{
  position: absolute;
  left:350px;
  bottom: 300px;
}


/* positions = relative absolute fixed
